@model IEnumerable<ASPImageApplication.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p class="btn btn-primary">
    <a asp-action="Create" style="color:white">Create New</a>
</p>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model)
{
    if (item.Owner == User.Identity.Name)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
        </td>
    </tr>
    }
}
</table>
